body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dogPictureContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dogStyle{
    max-width: 50vh;
}

